<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bienvenidos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: blue;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>
  </head>

  <body>
    <div>
    <h1>Bienvenidos!</h1><br>
    <p> Se ha visitado esta página {{ count }} veces.</p>
    </div>
  </body>
</html>
